{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block page_title %}Password Reset | {% endblock %}

{% block fos_user_content %}
    <div class="alert alert-type-info">
        {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
        <br>
        <a href="{{ path('fos_user_security_login') }}">Return to the login</a>
    </div>
{% endblock %}
