{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block page_title %}Register | {% endblock %}

{% block fos_user_content %}
    <div class="alert alert-info alert-type-info mt-4">
        {{ 'registration.check_email'|trans({'%email%': user.email}) }}
    </div>
{% endblock fos_user_content %}
