{% extends 'Mail/base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block subject %}
    {% autoescape false %}
        {{ 'registration.email.subject'|trans({'%username%': user.username}) }}
    {% endautoescape %}
{% endblock subject %}

{% block body_html_inner %}
    <p>Hello,</p>
    <p>To finish activating your account, click the link below.</p>
    <a href="{{ confirmationUrl }}" style="display: block; max-width: 250px; margin: 25px auto; padding: 12px; background: #008000; color: #fff; font-size: 18px; font-weight: bold; text-align: center; text-decoration: none; border-radius: 5px;">Activate My Account</a>
{% endblock body_html_inner %}

{% block body_text_inner %}
    {% autoescape false %}
        {{ 'registration.email.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
    {% endautoescape %}
{% endblock body_text_inner %}